---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Quer nos apoiar?</h4>
                <p>Se você é uma empresa e deseja nos apoiar oferecendo com local, coffee break ou patrocinios que possam ser revertidos para a comunidade, nos informe! Todo apoio para fomentar a comunidade é bem-vindo!</p>
                <p><br/><a href="#" class="btn btn-theme">Apoiar</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Quer dar uma talk?</h4>
                <p>Se você faz parte da comunidade e deseja compartilhar seu conhecimento, a hora é agora!</p>
                <p><br/><a href="#" class="btn btn-theme">Registrar Talk</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Meetup!</h4>
                <p>Fique por dentro de todos os eventos que acontecem no CocoaHeads Belo Horizonte através do Meetup.</p>
                <p><br/><a href="#" class="btn btn-theme">Mais Informações</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="ULTIMOS EVENTOS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>Um pouco mais sobre...</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div><! --/row -->
</div><! --/container -->
